


a {
    text-decoration: none;
    }

.main_part_lesson{

    font-size: 32px;
}


.movie-bg {
    
    width: 750px;
}


div.arial-text{

     font-family: Arial;
}


.correct {
    border: 2px solid green;
}
.incorrect {
    border: 2px solid red;
}     

div.pdf {
   
   top: -42px;
   left: 0;
   width:1200; height:800;

   }

div.pdf_link{

    text-align: center;
}

.center {
    text-align: center;
}


.right{
    float: right;
}

.ans_input{

    border-radius: 10px;
}

/* 
body {

background: #2c2c2c;
}






aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;

}

aside img {

    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 15px;


}

aside h3 {
    margin-top: 50px;
    font-size: 30px;

}
aside ul {list-style: none;}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .35s ease;
    
}

aside ul li:hover, aside ul a:hover { 
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);   

}






main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;

}

main .features h1{
    font-size: 50px ;
}
main .features p{
    max-width: 800px; 
    margin: 20px auto;
    font-size: 24px;
}


form {

margin-left: 32%;
width: 500px;
margin-top: 50px;

}

*/
