<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>


    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать!</h1>
      

        <p class="lead">
            Вы вошли в аккаунт! 
        </p>


        <p>Ниже приведен список всех уроков</p> 
        <a href="{% url 'lesson1' %}"><button class ='btn btn-info'>Первый Урок</button></a>
        <a href="{% url 'lesson1' %}"><button class ='btn btn-info'>Второй Урок</button></a>
        <a href="{% url 'lesson1' %}"><button class ='btn btn-info'>Третий Урок</button></a>
        <a href="{% url 'lesson1' %}"><button class ='btn btn-info'>Четвертый Урок</button></a>



        <p class="lead">
            Пожалуйста, войдите в ваш аккаунт, чтобы увидеть доступные вам уроки. 
        </p>
       

        <hr class="my-4">
        <p class="lead">


            <form action="{% url 'logout' %}" method="post">

                <button type="submit" class="btn btn-primary btn-lg">Выйти</button>
            </form>

          

                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
                <a class="btn btn-primary btn-lg" href="{% url 'users-register' %}" role="button">Регистрация</a>

            
        </p>
    </div>



</body>
</html>




